// SPDX-License-Identifier: AGPL-3.0-only

<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="8192"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>
